* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ad3171;
}

.logo {
    justify-content: center;
    align-items: center;
    display: inline;
    height: 330px;
    width: 400px;
}

.quote {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-left: 33%;
}

.search-container {
    padding-top: 50px;
}

.search-bar{
    width:900px;
    height:50px;
    border: bold;
    outline:none;
    border-radius: 80px;
    /* padding: 1rem 1rem; */
    justify-content: center;
    align-items: center;
}

.searchbtn {
    height: 30px;
    width: 70px;
    justify-content: center;
}

.nav-container {
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: rgb(152, 152, 152);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    font-size: 2rem;
}

.nav li:hover {
    background-color: white;
    color: #ad3171;
}

.home-link {
    /* font-size: 1.5rem; */
}

.home-link:hover {
    background-color: white;
    color: #ad3171;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.office-image {
    height: 200px;
    width: 300px;
    border-radius: 50%;
}

.doctor-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
